<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuitarLA | Nosotros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header py-5">
      <div class="container-xl">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <a href="index.html">
              <img
                src="./assets/img/backgrounds/logo.svg"
                alt="Logo"
                class="img-fluid"
              />
            </a>
          </div>
          <nav
            class="col-md-6 d-flex flex-column flex-md-row align-items-center justify-content-md-end mt-5 z-1"
          >
            <a
              class="d-block px-2 py-1 fw-bold text-uppercase"
              href="index.html"
              >Inicio</a
            >
            <a
              class="d-block px-2 py-1 fw-bold text-uppercase"
              href="about.html"
              >Nosotros</a
            >
            <a class="d-block px-2 py-1 fw-bold text-uppercase" href="blog.html"
              >Blog</a
            >
            <a class="d-block px-2 py-1 fw-bold text-uppercase" href="shop.html"
              >Tienda</a
            >
          </nav>
        </div>
      </div>
    </header>
    <main class="container-xl mt-5">
      <h2 class="text-center">Sobre nosotros</h2>
      <div class="row mt-5 justify-content-center align-items-center">
        <div class="col-md-6">
          <img
            src="./assets/img/backgrounds/nosotros.jpg"
            alt="Imagen sobre nosotros"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6 mt-5 mt-md-0">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet
            quaerat laudantium exercitationem, non animi necessitatibus rem
            iusto fugit perferendis, obcaecati ducimus veritatis ex, esse
            quidem? Eaque veniam enim neque obcaecati?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
            mollitia architecto vero ea quis ipsa molestiae voluptatem
            recusandae, sapiente est autem at soluta doloribus velit. Fugiat
            dolore praesentium vel excepturi.
          </p>
        </div>
      </div>
    </main>
    <footer class="bg-dark mt-5 py-5">
      <div
        class="container-xl d-md-flex justify-content-md-between align-items-md-center"
      >
        <nav class="d-flex flex-column flex-md-row align-items-center gap-2">
          <a href="index.html" class="text-white">Inicio</a>
          <a href="about.html" class="text-white">Nosotros</a>
          <a href="blog.html" class="text-white">Blog</a>
          <a href="shop.html" class="text-white">Tienda</a>
        </nav>
        <p class="text-white text-center mt-5 mt-md-0">
          Todos los derechos reservados &copy;
        </p>
      </div>
    </footer>
  </body>
</html>
