<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuitarLA | Nosotros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header py-5">
      <div class="container-xl">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <a href="index.html">
              <img
                src="./assets/img/backgrounds/logo.svg"
                alt="Logo"
                class="img-fluid"
              />
            </a>
          </div>
          <nav
            class="col-md-6 d-flex flex-column flex-md-row align-items-center justify-content-md-end mt-5 z-1"
          >
            <a
              class="d-block px-2 py-1 fw-bold text-uppercase"
              href="index.html"
              >Inicio</a
            >
            <a
              class="d-block px-2 py-1 fw-bold text-uppercase"
              href="about.html"
              >Nosotros</a
            >
            <a class="d-block px-2 py-1 fw-bold text-uppercase" href="blog.html"
              >Blog</a
            >
            <a class="d-block px-2 py-1 fw-bold text-uppercase" href="shop.html"
              >Tienda</a
            >
          </nav>
        </div>
      </div>
    </header>
    <main class="container-xl mt-5">
      <div class="row mt-5 justify-content-center align-items-center">
        <div class="col-4 col-md-2">
          <img
            src="./assets/img/products/guitarra_01.jpg"
            alt="Producto 1"
            class="img-fluid"
          />
        </div>
        <div class="col-8 col-md-4">
          <h3 class="text-black fw-bold text-uppercase">Lucater</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            omnis ipsa accusantium quae deserunt quos rerum et
          </p>
          <p class="fw-black text-primary">$6,999</p>
          <form action="" class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="quantity" class="form-label">Cantidad:</label>
                <select id="quantity" name="quantity" class="form-control py-2">
                  <option value="">SELECCIONAR</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <button
                type="submit"
                class="btn fs-4 bg-primary py-2 px-5 text-white w-100 mt-4"
              >
                Añadir al carrito
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="bg-dark mt-5 py-5">
      <div
        class="container-xl d-md-flex justify-content-md-between align-items-md-center"
      >
        <nav class="d-flex flex-column flex-md-row align-items-center gap-2">
          <a href="index.html" class="text-white">Inicio</a>
          <a href="about.html" class="text-white">Nosotros</a>
          <a href="blog.html" class="text-white">Blog</a>
          <a href="shop.html" class="text-white">Tienda</a>
        </nav>
        <p class="text-white text-center mt-5 mt-md-0">
          Todos los derechos reservados &copy;
        </p>
      </div>
    </footer>
  </body>
</html>
