<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GuitarLA | Tienda</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <header class="header py-5">
      <div class="container-xl">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <a href="index.html">
              <img
                src="./assets/img/backgrounds/logo.svg"
                alt="Logo"
                class="img-fluid"
              />
            </a>
          </div>
          <nav
            class="col-md-6 d-flex flex-column flex-md-row align-items-center justify-content-md-end mt-5 z-1"
          >
            <a
              class="d-block px-2 py-1 fw-bold text-uppercase"
              href="index.html"
              >Inicio</a
            >
            <a
              class="d-block px-2 py-1 fw-bold text-uppercase"
              href="about.html"
              >Nosotros</a
            >
            <a class="d-block px-2 py-1 fw-bold text-uppercase" href="blog.html"
              >Blog</a
            >
            <a class="d-block px-2 py-1 fw-bold text-uppercase" href="shop.html"
              >Tienda</a
            >
          </nav>
        </div>
      </div>
    </header>
    <main class="container-xl mt-5">
      <h2 class="text-center">Conoce nuestros productos</h2>
      <div class="row mt-5">
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_01.jpg"
              alt="Producto 1"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Lucater</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$6,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_02.jpg"
              alt="Producto 2"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$8,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_03.jpg"
              alt="Producto 3"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$10,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_04.jpg"
              alt="Producto 4"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$12,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_05.jpg"
              alt="Producto 5"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$14,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_06.jpg"
              alt="Producto 6"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$16,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_07.jpg"
              alt="Producto 7"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$18,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_08.jpg"
              alt="Producto 8"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$20,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_09.jpg"
              alt="Producto 9"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$22,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_10.jpg"
              alt="Producto 10"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$24,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_11.jpg"
              alt="Producto 11"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$26,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 my-4 row align-items-center">
          <div class="col-4">
            <img
              src="./assets/img/products/guitarra_12.jpg"
              alt="Producto 12"
              class="img-fluid"
            />
          </div>
          <div class="col-8">
            <h3 class="text-black fw-bold text-uppercase">Name</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus omnis ipsa accusantium quae deserunt quos rerum et
            </p>
            <p class="fw-black text-primary">$28,999</p>
            <a
              href="product.html"
              class="btn fs-4 bg-primary py-2 px-5 text-white"
            >
              Ver modelo
            </a>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-dark mt-5 py-5">
      <div
        class="container-xl d-md-flex justify-content-md-between align-items-md-center"
      >
        <nav class="d-flex flex-column flex-md-row align-items-center gap-2">
          <a href="index.html" class="text-white">Inicio</a>
          <a href="about.html" class="text-white">Nosotros</a>
          <a href="blog.html" class="text-white">Blog</a>
          <a href="shop.html" class="text-white">Tienda</a>
        </nav>
        <p class="text-white text-center mt-5 mt-md-0">
          Todos los derechos reservados &copy;
        </p>
      </div>
    </footer>
  </body>
</html>
