<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoursesWeb</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;700&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <!-- Header section -->
    <header class="header container-fluid d-none d-lg-block">
      <div
        class="d-flex justify-content-between p-3 shadow-sm align-items-center gap-2"
      >
        <h2 class="fw-bold">Courses<span class="text-success">Web</span></h2>

        <form action="" class="flex-grow-1">
          <input
            class="form-control bg-ligh"
            type="search"
            placeholder="Buscar cursos"
          />
        </form>

        <nav class="d-flex gap-2">
          <a href="#" class="nav-link">Negocios</a>
          <a href="#" class="nav-link">Enseña</a>
        </nav>
        <nav>
          <a href="#" class="btn btn-outline-dark">Iniciar sesión</a>
          <a href="#" class="btn btn-dark">Registrate</a>
        </nav>
      </div>
    </header>
    <!-- Hero section -->
    <section class="hero container-xl">
      <div class="row justify-content-around align-items-lg-end bg-light">
        <div class="hero__text col-lg-4 shadow bg-white">
          <div class="p-3">
            <h2>Enseñanza y aprendizaje en línea para todos</h2>
            <p class="hero__description">
              Aprende y desarrolla habilidades digitales con nuestros cursos en
              línea. Asegúrate de que tus habilidades estén en alta demanda en
              el mercado laboral.
            </p>
            <input
              class="hero__search form-control form-search bg-light"
              type="search"
              placeholder="¿Qué quieres aprender?"
            />
          </div>
        </div>
        <div class="col-lg-5">
          <img src="./assets/img/backgrounds/persona1.png" alt="imagen hero" />
        </div>
      </div>
    </section>
    <!-- Courses section -->
    <section class="courses container-xl mt-5 pt-5">
      <h3>Una amplia selección de cursos</h3>
      <p class="fs-4">
        Aquí encontrarás una variedad de cursos que cubran temas relevantes para
        tu carrera.
      </p>

      <nav class="nav">
        <li class="nav-item">
          <a href="#" class="nav-link active">Java</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">JavaSript</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Python</a>
        </li>
      </nav>

      <div class="courses__categorie p-4 mt-2">
        <p class="fs-4 fw-bold">
          Amplia tus oportunidades con JavaScript y Front-End
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit aperiam
          cum nisi voluptatum architecto! Quia autem provident aut quaerat ab
          optio ipsum aspernatur porro error quod, cupiditate quis commodi
          cumque!
        </p>

        <a href="#" class="btn btn-outline-dark">Explorar JavaScript</a>

        <ul class="courses__list list-unstyled mt-5">
          <li class="course">
            <div class="card">
              <img
                src="./assets/img/courses/curso_6.jpg"
                class="card-img-top"
                alt="Imagen curso JavaScript"
              />
              <div class="card-body">
                <h4 class="card-title">Curso de JavaScript</h4>
                <p class="card-text">
                  Aprende a desarrollar aplicaciones web con JavaScript y
                  frameworks modernos.
                </p>
                <div class="d-flex align-items-center gap-2">
                  <span class="card-points fw-bold text-secondary"> 4.7 </span>
                  <img
                    class="card-calif"
                    src="./assets/img/backgrounds/estrellas.png"
                    alt="imagen calificacion"
                  />
                  <span class="card-total"> 300 </span>
                </div>
                <p class="card-price fw-bold">
                  $150MXN
                  <span class="card-price--original fw-normal">1599MXN</span>
                </p>

                <a href="#" class="btn btn-success">Ver más</a>
              </div>
            </div>
          </li>
          <li class="course">
            <div class="card">
              <img
                src="./assets/img/courses/curso_1.jpg"
                class="card-img-top"
                alt="Imagen curso JavaScript"
              />
              <div class="card-body">
                <h4 class="card-title">Curso de JavaScript Avanzado</h4>
                <p class="card-text">
                  Aprende a desarrollar aplicaciones web con JavaScript y
                  frameworks modernos.
                </p>
                <div class="d-flex align-items-center gap-2">
                  <span class="card-points fw-bold text-secondary"> 4.5 </span>
                  <img
                    class="card-calif"
                    src="./assets/img/backgrounds/estrellas.png"
                    alt="imagen calificacion"
                  />
                  <span class="card-total"> 250 </span>
                </div>
                <p class="card-price fw-bold">
                  $180MXN
                  <span class="card-price--original fw-normal">2199MXN</span>
                </p>
                <a href="#" class="btn btn-success">Ver más</a>
              </div>
            </div>
          </li>
          <li class="course">
            <div class="card">
              <img
                src="./assets/img/courses/curso_3.jpg"
                class="card-img-top"
                alt="Imagen curso JavaScript"
              />
              <div class="card-body">
                <h4 class="card-title">Curso de JavaScript Avanzado</h4>
                <p class="card-text">
                  Aprende a desarrollar aplicaciones web con JavaScript y
                  frameworks modernos.
                </p>
                <div class="d-flex align-items-center gap-2">
                  <span class="card-points fw-bold text-secondary"> 4.7 </span>
                  <img
                    class="card-calif"
                    src="./assets/img/backgrounds/estrellas.png"
                    alt="imagen calificacion"
                  />
                  <span class="card-total"> 300 </span>
                </div>
                <p class="card-price fw-bold">
                  $180MXN
                  <span class="card-price--original fw-normal">2199MXN</span>
                </p>
                <a href="#" class="btn btn-success">Ver más</a>
              </div>
            </div>
          </li>
          <li class="course">
            <div class="card">
              <img
                src="./assets/img/courses/curso_4.jpg"
                class="card-img-top"
                alt="Imagen curso JavaScript"
              />
              <div class="card-body">
                <h4 class="card-title">Curso de JavaScript Avanzado</h4>
                <p class="card-text">
                  Aprende a desarrollar aplicaciones web con JavaScript y
                  frameworks modernos.
                </p>
                <div class="d-flex align-items-center gap-2">
                  <span class="card-points fw-bold text-secondary"> 4.5 </span>
                  <img
                    class="card-calif"
                    src="./assets/img/backgrounds/estrellas.png"
                    alt="imagen calificacion"
                  />
                  <span class="card-total"> 250 </span>
                </div>
                <p class="card-price fw-bold">
                  $180MXN
                  <span class="card-price--original fw-normal">2199MXN</span>
                </p>
                <a href="#" class="btn btn-success">Ver más</a>
              </div>
            </div>
          </li>
          <li class="course">
            <div class="card">
              <img
                src="./assets/img/courses/curso_5.jpg"
                class="card-img-top"
                alt="Imagen curso JavaScript"
              />
              <div class="card-body">
                <h4 class="card-title">Curso de JavaScript Avanzado</h4>
                <p class="card-text">
                  Aprende a desarrollar aplicaciones web con JavaScript y
                  frameworks modernos.
                </p>
                <div class="d-flex align-items-center gap-2">
                  <span class="card-points fw-bold text-secondary"> 4.7 </span>
                  <img
                    class="card-calif"
                    src="./assets/img/backgrounds/estrellas.png"
                    alt="imagen calificacion"
                  />
                  <span class="card-total"> 300 </span>
                </div>
                <p class="card-price fw-bold">
                  $180MXN
                  <span class="card-price--original fw-normal">2199MXN</span>
                </p>
                <a href="#" class="btn btn-success">Ver más</a>
              </div>
            </div>
          </li>
          <li class="course d-lg-none">
            <div class="card">
              <img
                src="./assets/img/courses/curso_2.jpg"
                class="card-img-top"
                alt="Imagen curso JavaScript"
              />
              <div class="card-body">
                <h4 class="card-title">Curso de JavaScript Avanzado</h4>
                <p class="card-text">
                  Aprende a desarrollar aplicaciones web con JavaScript y
                  frameworks modernos.
                </p>
                <div class="d-flex align-items-center gap-2">
                  <span class="card-points fw-bold text-secondary"> 4.5 </span>
                  <img
                    class="card-calif"
                    src="./assets/img/backgrounds/estrellas.png"
                    alt="imagen calificacion"
                  />
                  <span class="card-total"> 250 </span>
                </div>
                <p class="card-price fw-bold">
                  $180MXN
                  <span class="card-price--original fw-normal">2199MXN</span>
                </p>
                <a href="#" class="btn btn-success">Ver más</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- Characteristics section -->
    <section class="bg-light my-5 py-5">
      <div class="container-xl">
        <div
          class="row justify-content-between align-items-center gap-5 gap-lg-0"
        >
          <div class="col-md-3">
            <div class="d-flex justify-content-around align-items-center gap-3">
              <div class="icon">
                <i class="bi bi-play-fill"></i>
              </div>

              <p class="fw-bold m-0">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                explicabo aliquam e
              </p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="d-flex justify-content-around align-items-center gap-3">
              <div class="icon">
                <i class="bi bi-star-fill"></i>
              </div>

              <p class="fw-bold m-0">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
                explicabo aliquam
              </p>
            </div>
          </div>

          <div class="col-md-3">
            <div class="d-flex justify-content-around align-items-center gap-3">
              <div class="icon">
                <i class="bi bi-phone-fill"></i>
              </div>

              <p class="fw-bold m-0">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Main section -->
    <main class="container-xl">
      <h3 class="fw-bold">Los estudiantes están viendo</h3>
      <ul class="courses__list list-unstyled mt-5">
        <li class="course">
          <div class="card">
            <img
              src="./assets/img/courses/curso_6.jpg"
              class="card-img-top"
              alt="Imagen curso JavaScript"
            />
            <div class="card-body">
              <h4 class="card-title">Curso de JavaScript</h4>
              <p class="card-text">
                Aprende a desarrollar aplicaciones web con JavaScript y
                frameworks modernos.
              </p>
              <div class="d-flex align-items-center gap-2">
                <span class="card-points fw-bold text-secondary"> 4.7 </span>
                <img
                  class="card-calif"
                  src="./assets/img/backgrounds/estrellas.png"
                  alt="imagen calificacion"
                />
                <span class="card-total"> 300 </span>
              </div>
              <p class="card-price fw-bold">
                $150MXN
                <span class="card-price--original fw-normal">1599MXN</span>
              </p>

              <a href="#" class="btn btn-success">Ver más</a>
            </div>
          </div>
        </li>
        <li class="course">
          <div class="card">
            <img
              src="./assets/img/courses/curso_1.jpg"
              class="card-img-top"
              alt="Imagen curso JavaScript"
            />
            <div class="card-body">
              <h4 class="card-title">Curso de JavaScript Avanzado</h4>
              <p class="card-text">
                Aprende a desarrollar aplicaciones web con JavaScript y
                frameworks modernos.
              </p>
              <div class="d-flex align-items-center gap-2">
                <span class="card-points fw-bold text-secondary"> 4.5 </span>
                <img
                  class="card-calif"
                  src="./assets/img/backgrounds/estrellas.png"
                  alt="imagen calificacion"
                />
                <span class="card-total"> 250 </span>
              </div>
              <p class="card-price fw-bold">
                $180MXN
                <span class="card-price--original fw-normal">2199MXN</span>
              </p>
              <a href="#" class="btn btn-success">Ver más</a>
            </div>
          </div>
        </li>
        <li class="course">
          <div class="card">
            <img
              src="./assets/img/courses/curso_3.jpg"
              class="card-img-top"
              alt="Imagen curso JavaScript"
            />
            <div class="card-body">
              <h4 class="card-title">Curso de JavaScript Avanzado</h4>
              <p class="card-text">
                Aprende a desarrollar aplicaciones web con JavaScript y
                frameworks modernos.
              </p>
              <div class="d-flex align-items-center gap-2">
                <span class="card-points fw-bold text-secondary"> 4.7 </span>
                <img
                  class="card-calif"
                  src="./assets/img/backgrounds/estrellas.png"
                  alt="imagen calificacion"
                />
                <span class="card-total"> 300 </span>
              </div>
              <p class="card-price fw-bold">
                $180MXN
                <span class="card-price--original fw-normal">2199MXN</span>
              </p>
              <a href="#" class="btn btn-success">Ver más</a>
            </div>
          </div>
        </li>
        <li class="course">
          <div class="card">
            <img
              src="./assets/img/courses/curso_4.jpg"
              class="card-img-top"
              alt="Imagen curso JavaScript"
            />
            <div class="card-body">
              <h4 class="card-title">Curso de JavaScript Avanzado</h4>
              <p class="card-text">
                Aprende a desarrollar aplicaciones web con JavaScript y
                frameworks modernos.
              </p>
              <div class="d-flex align-items-center gap-2">
                <span class="card-points fw-bold text-secondary"> 4.5 </span>
                <img
                  class="card-calif"
                  src="./assets/img/backgrounds/estrellas.png"
                  alt="imagen calificacion"
                />
                <span class="card-total"> 250 </span>
              </div>
              <p class="card-price fw-bold">
                $180MXN
                <span class="card-price--original fw-normal">2199MXN</span>
              </p>
              <a href="#" class="btn btn-success">Ver más</a>
            </div>
          </div>
        </li>
        <li class="course">
          <div class="card">
            <img
              src="./assets/img/courses/curso_5.jpg"
              class="card-img-top"
              alt="Imagen curso JavaScript"
            />
            <div class="card-body">
              <h4 class="card-title">Curso de JavaScript Avanzado</h4>
              <p class="card-text">
                Aprende a desarrollar aplicaciones web con JavaScript y
                frameworks modernos.
              </p>
              <div class="d-flex align-items-center gap-2">
                <span class="card-points fw-bold text-secondary"> 4.7 </span>
                <img
                  class="card-calif"
                  src="./assets/img/backgrounds/estrellas.png"
                  alt="imagen calificacion"
                />
                <span class="card-total"> 300 </span>
              </div>
              <p class="card-price fw-bold">
                $180MXN
                <span class="card-price--original fw-normal">2199MXN</span>
              </p>
              <a href="#" class="btn btn-success">Ver más</a>
            </div>
          </div>
        </li>
        <li class="course d-lg-none">
          <div class="card">
            <img
              src="./assets/img/courses/curso_2.jpg"
              class="card-img-top"
              alt="Imagen curso JavaScript"
            />
            <div class="card-body">
              <h4 class="card-title">Curso de JavaScript Avanzado</h4>
              <p class="card-text">
                Aprende a desarrollar aplicaciones web con JavaScript y
                frameworks modernos.
              </p>
              <div class="d-flex align-items-center gap-2">
                <span class="card-points fw-bold text-secondary"> 4.5 </span>
                <img
                  class="card-calif"
                  src="./assets/img/backgrounds/estrellas.png"
                  alt="imagen calificacion"
                />
                <span class="card-total"> 250 </span>
              </div>
              <p class="card-price fw-bold">
                $180MXN
                <span class="card-price--original fw-normal">2199MXN</span>
              </p>
              <a href="#" class="btn btn-success">Ver más</a>
            </div>
          </div>
        </li>
      </ul>
    </main>
    <!-- Categories section  -->
    <section class="container-xl mt-3 categories">
      <h3 class="fw-bold">Categorías principales</h3>
      <ul class="list-unstyled grid mt-5">
        <li class="g-col-6 g-col-md-4 g-col-lg-3">
          <a href="#">
            <picture class="bg-light d-block">
              <source
                srcset="./assets/img/icons/iconos-01.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/icons/iconos-01.webp"
                type="image/webp"
              />
              <img
                class="img-fluid"
                loading="lazy"
                src="./assets/img/icons/iconos-01.png"
                alt="imagen icono"
              />
            </picture>
            <p class="text-center mt-2">Diseño web</p>
          </a>
        </li>
        <li class="g-col-6 g-col-md-4 g-col-lg-3">
          <a href="#">
            <picture class="bg-light d-block">
              <source
                srcset="./assets/img/icons/iconos-02.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/icons/iconos-02.webp"
                type="image/webp"
              />
              <img
                class="img-fluid"
                loading="lazy"
                src="./assets/img/icons/iconos-02.png"
                alt="imagen icono"
              />
            </picture>
            <p class="text-center mt-2">Desarrollo de software</p>
          </a>
        </li>
        <li class="g-col-6 g-col-md-4 g-col-lg-3">
          <a href="#">
            <picture class="bg-light d-block">
              <source
                srcset="./assets/img/icons/iconos-03.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/icons/iconos-03.webp"
                type="image/webp"
              />
              <img
                class="img-fluid"
                loading="lazy"
                src="./assets/img/icons/iconos-03.png"
                alt="imagen icono"
              />
            </picture>
            <p class="text-center mt-2">Marketing digital</p>
          </a>
        </li>
        <li class="g-col-6 g-col-md-4 g-col-lg-3">
          <a href="#">
            <picture class="bg-light d-block">
              <source
                srcset="./assets/img/icons/iconos-04.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/icons/iconos-04.webp"
                type="image/webp"
              />
              <img
                class="img-fluid"
                loading="lazy"
                src="./assets/img/icons/iconos-04.png"
                alt="imagen icono"
              />
            </picture>
            <p class="text-center mt-2">UX/UI</p>
          </a>
        </li>
        <li class="g-col-6 g-col-md-4 g-col-lg-3">
          <a href="#">
            <picture class="bg-light d-block">
              <source
                srcset="./assets/img/icons/iconos-05.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/icons/iconos-05.webp"
                type="image/webp"
              />
              <img
                class="img-fluid"
                loading="lazy"
                src="./assets/img/icons/iconos-05.png"
                alt="imagen icono"
              />
            </picture>
            <p class="text-center mt-2">Gestión de proyectos</p>
          </a>
        </li>
        <li class="g-col-6 g-col-md-4 g-col-lg-3">
          <a href="#">
            <picture class="bg-light d-block">
              <source
                srcset="./assets/img/icons/iconos-06.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/icons/iconos-06.webp"
                type="image/webp"
              />
              <img
                class="img-fluid"
                loading="lazy"
                src="./assets/img/icons/iconos-06.png"
                alt="imagen icono"
              />
            </picture>
            <p class="text-center mt-2">Negocios digitales</p>
          </a>
        </li>
        <li class="g-col-6 g-col-md-4 g-col-lg-3">
          <a href="#">
            <picture class="bg-light d-block">
              <source
                srcset="./assets/img/icons/iconos-07.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/icons/iconos-07.webp"
                type="image/webp"
              />
              <img
                class="img-fluid"
                loading="lazy"
                src="./assets/img/icons/iconos-07.png"
                alt="imagen icono"
              />
            </picture>
            <p class="text-center mt-2">Fotografía</p>
          </a>
        </li>
        <li class="g-col-6 g-col-md-4 g-col-lg-3">
          <a href="#">
            <picture class="bg-light d-block">
              <source
                srcset="./assets/img/icons/iconos-08.avif"
                type="image/avif"
              />
              <source
                srcset="./assets/img/icons/iconos-08.webp"
                type="image/webp"
              />
              <img
                class="img-fluid"
                loading="lazy"
                src="./assets/img/icons/iconos-08.png"
                alt="imagen icono"
              />
            </picture>
            <p class="text-center mt-2">Música</p>
          </a>
        </li>
      </ul>
    </section>
    <!-- List categories section  -->
    <section class="categories-list py-5 mt-5 bg-light">
      <div class="container-xl">
        <h3 class="fw-bold">Temas por categoría</h3>
        <div class="row my-4">
          <div class="col-12 col-sm-6 col-md-3">
            <p class="fw-bold">Desarrollo</p>
            <ul class="list-unstyled">
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >Python</a
                >
                <p class="fs-3">300,000 Estudiantes</p>
              </li>
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >Desarrollo web</a
                >
                <p class="fs-3">250,000 Estudiantes</p>
              </li>
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >JavaScript</a
                >
                <p class="fs-3">200,000 Estudiantes</p>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <p class="fw-bold">Marketing</p>
            <ul class="list-unstyled">
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >SEO y SEM</a
                >
                <p class="fs-3">150,000 Estudiantes</p>
              </li>
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >Redes sociales</a
                >
                <p class="fs-3">100,000 Estudiantes</p>
              </li>
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >Email Marketing
                </a>
                <p class="fs-3">50,000 Estudiantes</p>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <p class="fw-bold">Diseño</p>
            <ul class="list-unstyled">
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >UX/UI</a
                >
                <p class="fs-3">100,000 Estudiantes</p>
              </li>
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >Gestión de proyectos</a
                >
                <p class="fs-3">80,000 Estudiantes</p>
              </li>
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >Negocios
                </a>
                <p class="fs-3">60,000 Estudiantes</p>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <p class="fw-bold">Fotografía</p>
            <ul class="list-unstyled">
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >Fotografía profesional</a
                >
                <p class="fs-3">50,000 Estudiantes</p>
              </li>
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >Fotografía deportiva</a
                >
                <p class="fs-3">40,000 Estudiantes</p>
              </li>
              <li class="mb-4">
                <a
                  href="#"
                  class="text-decoration-none text-success fw-bold fs-3"
                  >Fotografía personal</a
                >
                <p class="fs-3">30,000 Estudiantes</p>
              </li>
            </ul>
          </div>
        </div>

        <a href="#" class="btn btn-outline-dark">Explora más temas</a>
      </div>
    </section>
    <!--  Teaches in section  -->
    <section class="container-xl py-3">
      <div class="row justify-content-center align-items-center">
        <picture class="col-md-5 order-2 order-md-1">
          <source
            srcset="./assets/img/backgrounds/persona2.avif"
            type="image/avif"
          />
          <source
            srcset="./assets/img/backgrounds/persona2.webp"
            type="image/webp"
          />
          <img
            class="img-fluid"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/backgrounds/persona2.png"
            alt="Imagen publicidad"
          />
        </picture>
        <div class="col-md-5 order-1 order-md-2 mb-5 mb-md-0">
          <h3 class="fw-bold">Enseña y conviertete en instructor</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            quibusdam excepturi minima veritatis soluta obcaecati et in quis
            cupiditate reiciendis! Totam, animi voluptatum? Quas omnis aperiam
            amet explicabo sint sed.
          </p>
          <a href="" class="btn btn-dark">Empieza a enseñar hoy mismo</a>
        </div>
      </div>
    </section>
    <!--  Sponsors section  -->
    <section class="bg-light py-5">
      <div class="container-xl">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h3 class="fw-bold text-center">
              Estas empresas confían en nosotros
            </h3>
            <div class="sponsors">
              <div class="sponsor d-flex justify-content-center">
                <img
                  loading="lazy"
                  width="500"
                  height="300"
                  src="./assets/img/icons/logo-01.svg"
                  alt=""
                />
              </div>
              <div class="sponsor d-flex justify-content-center">
                <img
                  loading="lazy"
                  width="500"
                  height="300"
                  src="./assets/img/icons/logo-02.svg"
                  alt=""
                />
              </div>
              <div class="sponsor d-flex justify-content-center">
                <img
                  loading="lazy"
                  width="500"
                  height="300"
                  src="./assets/img/icons/logo-03.svg"
                  alt=""
                />
              </div>
              <div class="sponsor d-flex justify-content-center">
                <img
                  loading="lazy"
                  width="500"
                  height="300"
                  src="./assets/img/icons/logo-04.svg"
                  alt=""
                />
              </div>
              <div class="sponsor d-flex justify-content-center">
                <img
                  loading="lazy"
                  width="500"
                  height="300"
                  src="./assets/img/icons/logo-05.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  Business section  -->
    <section class="container-xl py-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
          <h3 class="fw-bold">
            CourseWeb para <span class="text-success">negocios</span>
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            quibusdam excepturi minima veritatis soluta obcaecati et in quis
            cupiditate reiciendis! Totam, animi voluptatum? Quas omnis aperiam
            amet explicabo sint sed.
          </p>
          <a href="#" class="btn btn-dark">Suscribirte a negocios</a>
        </div>
        <picture class="col-md-5">
          <source
            srcset="./assets/img/backgrounds/persona3.avif"
            type="image/avif"
          />
          <source
            srcset="./assets/img/backgrounds/persona3.webp"
            type="image/webp"
          />
          <img
            class="img-fluid"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/backgrounds/persona3.png"
            alt="Imagen publicidad"
          />
        </picture>
      </div>
    </section>
    <!--  Transform section  -->
    <section class="container-xl py-3">
      <div class="row justify-content-center align-items-center">
        <picture class="col-md-5 order-2 order-md-1">
          <source
            srcset="./assets/img/backgrounds/transforma.avif"
            type="image/avif"
          />
          <source
            srcset="./assets/img/backgrounds/transforma.webp"
            type="image/webp"
          />
          <img
            class="img-fluid"
            loading="lazy"
            width="500"
            height="300"
            src="./assets/img/backgrounds/transforma.png"
            alt="Imagen publicidad"
          />
        </picture>
        <div class="col-md-5 order-1 order-md-2 mb-5 mb-md-0">
          <h3 class="fw-bold">Transforma tu vida con educación</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            quibusdam excepturi minima veritatis soluta obcaecati et in quis
            cupiditate reiciendis! Totam, animi voluptatum? Quas omnis aperiam
            amet explicabo sint sed.
          </p>
          <a href="#" class="btn btn-dark">Iniciar a aprender</a>
        </div>
      </div>
    </section>
    <!-- Footer section  -->
    <footer class="bg-dark py-5">
      <div class="container-xl">
        <div class="row align-items-start gap-5">
          <nav class="col-md-2 d-grid gap-2">
            <a href="#" class="text-light text-decoration-none"> Inicio </a>
            <a href="#" class="text-light text-decoration-none">
              Enseña en CourseWeb
            </a>
            <a href="#" class="text-light text-decoration-none">
              Quiénes somos
            </a>
            <a href="#" class="text-light text-decoration-none"> Contacto </a>
          </nav>
          <nav class="col-md-2 d-grid gap-2">
            <a href="#" class="text-light text-decoration-none"> Empleo </a>
            <a href="#" class="text-light text-decoration-none"> Blog </a>
            <a href="#" class="text-light text-decoration-none"> Ayuda </a>
            <a href="#" class="text-light text-decoration-none"> Afiliados </a>
          </nav>
          <nav class="col-md-2 d-grid gap-2 me-auto">
            <a href="#" class="text-light text-decoration-none">
              Términos y condiciones
            </a>
            <a href="#" class="text-light text-decoration-none">
              Política de privacidad
            </a>
            <a href="#" class="text-light text-decoration-none">
              Preguntas frecuentes
            </a>
            <a href="#" class="text-light text-decoration-none"> Reclamar </a>
          </nav>

          <div class="col-md-2 text-md-end">
            <a href="#" class="btn btn-outline-light">Español</a>
          </div>
        </div>
      </div>
      <div
        class="container-xl mt-5 d-flex flex-column flex-md-row justify-content-between align-items-center"
      >
        <p class="text-light fw-bold">
          Courses
          <span class="text-success"> Web </span>
        </p>
        <p class="text-light text-center">
          Todos los derechos reservados 2023 &copy;
        </p>
      </div>
    </footer>
  </body>
</html>
