// Fonts
$primary-font: "Kaisei HarunoUmi", serif;
$secondary-font: Arial, Helvetica, sans-serif;

// Colors
$primary-color: #a435f0;
$secondary-color: #b4690e;
$black: #111;
$white: #fff;
$lightGray: #f8f9fb;
$darkGray: #6a6f73;
